 <div class="flex flex-row w-700 h-24 ml-24">
<div class="card flex justify-content-center mr-5"  *ngIf="genres$ | async as genres">
     
         <p-multiSelect 
            [formControl]="filterFormControl"
            [options]="genres['genres']" 
             (onChange)="onGenreSelectionChange($event)"
            optionLabel="name" 
            placeholder="Select Genre"/>
     
 </div>

<div class="p-field p-col-12 p-md-4">
    <p-calendar placeholder="Select Date Range" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" (onSelect)="inputChange()"></p-calendar>
</div>
</div>

<app-list-item
 *ngIf="movies$ | async as movies"
[list]="movies['results']"
[title]="'Movies'">
</app-list-item>


<div class="loader-container" *ngIf="isLoading$ | async">
    <div class="loader"></div>
  </div>
 