<div
  *ngIf="videos$ | async as videos"
  class="flex flex-row w-5/6 h-20 mx-24 mb-96"
>
  @for (item of videos; track item) {
    <div class="w-full mr-5 text-white cursor-pointer h-700">
      <iframe
        width="420"
        height="315"
        class="w-full h-full border-none"
        [src]="item.key | safe"
      >
      </iframe>
    </div>
  }
</div>

<div class="loader-container" *ngIf="isLoading$ | async">
  <div class="loader"></div>
</div>


<div class="flex flex-row mb-24 ml-24 mt-700 border-worth-of-red">
  <div class="w-700 h-96">
    <img
      src="https://image.tmdb.org/t/p/w500{{ data?.poster_path }}"
      alt="Poster"
      class="w-full h-full rounded-lg"
    />
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row justify-between w-4/5 h-32 ml-5 text-white">
      <p class="text-2xl font-bold font-poppins">{{ data?.original_title }}</p>
      <button
        class="w-48 h-16 pl-2 text-base text-white border-none rounded cursor-pointer bg-worth-of-red font-poppins"
      >
        <i class="mr-2 pi pi-plus" style="font-size: 1rem"></i>Add to Favourite
      </button>
    </div>

    <div
      class="flex flex-row items-center w-full h-20 gap-3 ml-5 border-worth-of-red"
    >
      @for (item of genres; track item) {
        <button
          class="pl-2 text-base font-bold text-black bg-white border-none rounded cursor-pointer w-36 h-11 font-poppins"
        >
          {{ item.name }}
        </button>
      }
      <p class="text-center text-white">{{ data?.release_date }}</p>
      <app-raiting [voteAverage]="data?.vote_average"></app-raiting>
    </div>
    <div class="ml-5">
      <p class="text-white font-poppins text-wrap">{{ data?.overview }}</p>
    </div>
    <div class="flex flex-col w-3/5 h-32 mb-16 ml-5">
      <p class="text-white">
        Country:

        @for (item of countries; track item) {
          &nbsp; {{ item?.name }}
        }
      </p>

      <p class="text-white">
        Genre:

        @for (item of genres; track item) {
          &nbsp; {{ item?.name }}
        }
      </p>
      <p class="text-white">Data Release: &nbsp; {{ data?.release_date }}</p>
      <p class="text-white">
        Production:

        @for (item of productions; track item) {
          &nbsp; {{ item?.name }} &nbsp; &nbsp;
        }
      </p>
    </div>
  </div>
</div>

<app-list-item
  *ngIf="detailGenreMovies$ | async as detailGenreMovies"
  [list]="detailGenreMovies['results']"
  [title]="'You may also like'"
></app-list-item>

