.item1 { 
    
    grid-area: img;
    width: 352px;
    height: 576px;

 }
.item2 { grid-area: header; }
.item3 { grid-area: overwiew; }
.item4 { grid-area: fields; }
.item5 { grid-area: values; }

.grid-container {
  display: grid;
  grid-template-areas:
    'img header header header header header'
    'img overwiew overwiew overwiew overwiew overwiew'
    'img fields fields footer values values';
  gap: 10px;
    position: relative;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
