<main class="overflow-scroll overflow-x-hidden overflow-y-hidden bg-black">
 
  <div class="card w-full fixed z-50"  *ngIf="isLoading$ | async">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
</div>

  <div
    class="flex flex-row items-center justify-center w-auto text-base text-white bg-black border border-black h-28 font-poppins"
  >
    <p class="mr-5 cursor-pointer" (click)="navigate('/list')">Home</p>
    <p class="mr-5 cursor-pointer" (click)="navigate('movies')">Movies</p>

    <p class="mr-5 cursor-pointer" (click)="navigate('series')">Series</p>

    <p class="cursor-pointer" (click)="navigate('collection')" >Collections</p>
  </div>
   
    <router-outlet />

  

</main>
