<div class="w-auto h-28 border  border-black flex flex-row justify-center items-center bg-black text-white text-base font-poppins">
    <!-- class="w-auto h-28 border border-black flex flex-row justify-around items-center bg-black text-white text-base	" -->
    <p class="mr-5 cursor-pointer">Home</p>
    <p class="mr-5 cursor-pointer">Movies</p>
    
  <p-iconField iconPosition="left" class="mr-5">
    <p-inputIcon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search Movies" />
  </p-iconField>

    <p class="mr-5 cursor-pointer">Series</p>
    <p class="cursor-pointer">Animation</p>
</div>


<div class="w-auto h-700 relative">

    <img src="assets\photo-1489599849927-2ee91cede3ba.avif" alt="" class="w-full h-full" >

    <div class="flex flex-row w-96 h-20  relative bottom-2/4 left-1/3 justify-between ">
        <button class="w-44 h-16 bg-worth-of-red text-2xl	text-white font-bold font-poppins rounded border-none cursor-pointer">Watch Now</button>
        <button class="w-44 h-16 border-2 	text-white 	border-worth-of-red text-2xl font-bold font-poppins rounded bg-transparent cursor-pointer">Watch Later</button>
    </div>
</div>

<!-- <div class="card w-full">
<p-galleria 
    [value]="trendingMovies" 
    [numVisible]="5" 
    [circular]="true" 
    [showItemNavigators]="true" 
    [showThumbnails]="false" 
    [responsiveOptions]="responsiveOptionsHeader" 
    [containerStyle]="{ 'max-width': '640px' }">
        <ng-template pTemplate="item" let-item>
            <img src="https://image.tmdb.org/t/p/w500{{item.backdrop_path}}" style=" display: block;" class="w-full h-72" />
        </ng-template>
</p-galleria>

</div> -->

<h2 class=" mx-24 my-5 text-white">Trending</h2>

<div class="card mx-10 my-0" >
    <p-carousel 
   
    class="text-white" 
        [value]="movies" 
        [numVisible]="3" 
        [numScroll]="1" 
        [responsiveOptions]="responsiveOptions">
            <ng-template let-movie pTemplate="item">
                <div class=" m-2 p-3 ">
                    <div class="mb-3  cursor-pointer">
                        <!-- <div class="relative mx-auto w-80 h-72 ">
                            <img 
                                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                [alt]="movie.title" 
                                class="w-full border-round h-72" />
                            
                        </div> -->

                        
   <div class="img-wrapper">
    <img class="zoom" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
    <div class="content fade">
      {{movie.title}}
    </div>
   
  </div>
                    </div>
                    <div class="mb-3 font-medium">
                        {{ movie.title }}
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <div class="mt-0 font-semibold text-xl">
                            {{ movie.popularity }}
                        </div>
                        <!-- <span>
                            <p-button icon="pi pi-heart" severity="secondary"/>
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                        </span> -->
                    </div>
                    <div>
                        <span class="fa fa-star" [ngClass]="{'checked': getStarRating(movie.vote_average) >= 1}"></span>
                        <span class="fa fa-star" [ngClass]="{'checked': getStarRating(movie.vote_average) >= 2}"></span>
                        <span class="fa fa-star" [ngClass]="{'checked': getStarRating(movie.vote_average) >= 3}"></span>
                        <span class="fa fa-star" [ngClass]="{'checked': getStarRating(movie.vote_average) >= 4}"></span>
                        <span class="fa fa-star" [ngClass]="{'checked': getStarRating(movie.vote_average) >= 5}"></span>
                    </div>
                </div>
            </ng-template>
    </p-carousel>
</div>
<!-- 
<div class="flex flex-row justify-between w-10/12">
<h2 class="mx-24 my-5 text-white">Now Playing</h2>


<button class="bg-transparent border-none cursor-pointer">
<h2 class="text-white">View All <i class="pi pi-eye" style="font-size: 1.5rem"></i></h2>

</button>

</div>

<div class=" w-5/6 h-20 flex flex-row mx-24 my-0">
@for (item of trendingMovies; track item){

    <div class="w-full h-full text-white mr-5">

        <img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}" alt="movie poster"  class="w-full border-round h-72">
    

    <p class="text-white font-bold font-poppins">{{item.original_title}}</p>
    <p class="text-white font-bold font-poppins">{{item.release_date}}</p>
    </div>
}
</div> -->


<app-list-item [list]="trendingMovies" [title]="'Trending'"></app-list-item>

<app-list-item [list]="seriesArr" [title]="'Latest'"></app-list-item>

<app-list-item [list]="upcomingList" [title]="'Upcoming'"></app-list-item>




  <!-- <div class=" w-5/6 h-20 flex flex-row mx-24 mb-96">
    @for (item of videos; track item){
    
        <div class="w-full h-full text-white mr-5  cursor-pointer">
        
    
            {{item.site}}

            <iframe width="420" height="315"
src="www.youtube.com/watch?v={{item.key}} | safe: sanitizationType">
</iframe>


        </div>
    }
</div>   -->


  <!-- <div class=" w-5/6 h-20 flex flex-row mx-24 mb-96">
    @for (item of videos; track item){
    
        <div class="w-full h-full text-white mr-5  cursor-pointer">
        
    
            {{item.site}}

            <iframe width="420" height="315"
src="www.youtube.com/watch?v={{item.key}} | safe: sanitizationType">
</iframe>


        </div>
    }
</div>  
   -->

   
<!-- 


   MAIN!!!!

  
  <div class=" w-5/6 h-20 flex flex-row mx-24 mb-96">
    @for (item of videos; track item){
    
        <div class="w-full h-full text-white mr-5  cursor-pointer">
        
    
            {{item.site}}

            <iframe width="420" height="315"
            [src]="sanitizeUrl(item.key)">
</iframe>


        </div>
    }
</div>  
   -->


