<div class="relative w-auto h-700">
  <img
    src="assets\photo-1489599849927-2ee91cede3ba.avif"
    alt=""
    class="w-full h-full"
  />
  <div
    class="relative flex flex-row justify-between h-20 w-96 bottom-2/4 left-1/3"
  >
    <button
      class="h-16 text-2xl font-bold text-white border-none rounded cursor-pointer w-44 bg-worth-of-red font-poppins"
      (click)="navigateMovies()"
    >
      Watch Now
    </button>
    <button
      class="h-16 text-2xl font-bold text-white bg-transparent border-2 rounded cursor-pointer w-44 border-worth-of-red font-poppins"
    >
      Watch Later
    </button>
  </div>
</div>

<h2 class="mx-24 my-5 text-white">Trending</h2>

<div *ngIf="movies$ | async as movies" class="mx-10 my-0 card">
  <p-carousel
    class="text-white"
    [value]="movies['results']"
    [numVisible]="4"
    [numScroll]="1"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-movie pTemplate="item">
      <div class="p-3 m-2" (click)="onClick(movie.id)">
        <div class="mb-3 cursor-pointer">
          <div class="img-wrapper">
            <img
              class="zoom"
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            />
            <div class="content fade">
              {{ movie.title }}
            </div>
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ movie.title }}
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 text-xl font-semibold">
            {{ movie.popularity }}
          </div>
        </div>
        <app-raiting [voteAverage]="movie.vote_average"></app-raiting>
      </div>
    </ng-template>
  </p-carousel>
</div>

<app-list-item
  *ngIf="trendingMovies$ | async as trendingMovies"
  [list]="trendingMovies['results'] | slice: 0 : 4"
  [title]="'Trending'"
></app-list-item>

<app-list-item
  *ngIf="seriesArr$ | async as seriesArr"
  [list]="seriesArr['results'] | slice: 0 : 4"
  [title]="'Latest'"
></app-list-item>

<app-list-item
  *ngIf="upcomingList$ | async as upcomingList"
  [list]="upcomingList['results'] | slice: 0 : 4"
  [title]="'Upcoming'"
></app-list-item>
