<div class="flex flex-row justify-between w-92">
  <h2 class="mx-24 my-5 text-white">{{ title }}</h2>

  <button class="bg-transparent border-none cursor-pointer">
    <h2 class="text-white">
      View All <i class="pi pi-eye" style="font-size: 1rem"></i>
    </h2>
  </button>
</div>

<div class="flex flex-row flex-wrap w-5/6 mx-24 mb-96">
  @for (item of list; track item) {
    <div
      class="w-[300px] h-full mr-5 text-white cursor-pointer"
      (click)="onClick(item.id)"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
        alt="movie poster"
        class="w-full border-round h-72"
      />

      <p class="font-bold text-white font-poppins">
        {{ item.original_title }} {{ item.original_name }}
      </p>
      <p class="font-bold text-white font-poppins">
        {{ item.release_date }} {{ item.first_air_date }}
      </p>
    </div>
  }
</div>
